<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head> 
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <title>工资管理系统</title>
    <style type="text/css"></style> 
  </head> 

  <body> 
    <div class="bread-crumb"> 
      <ul class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span><a href="#">Home</a></li> 
        <li><a href="#">Deduction</a></li>
        <li>list</li>
      </ul> 
    </div> 
    <div class="panle panel-info"> 
      <div class="panel-heading"> 
        <a class="panel-title">工资汇总表</a>
      </div> 
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <!--表头-->
          <thead> 
            <tr> 
              <th>ID</th>
              <th>标题</th>
              <th>工号</th>
              <th>姓名</th>
              <th>所属部门</th>
              <th>基本工资</th>
              <th>奖金</th>
              <th>罚金</th>
              <th>税金</th>
              <th>实际工资</th>
              <th>操作</th>
            </tr> 
          </thead>

          <!--显示数据-->
          <tbody>
            <tr th:each="deduction : ${pageInfo.list}">
              <td th:text="${deduction.id}">2</td>
              <td th:text="${deduction.dTitle}">2</td>
              <td th:text="${deduction.employee.eNumber}">2511150243</td>
              <td th:text="${deduction.employee.eName}">张三</td>
              <td th:text="${deduction.employee.department.dName}">a</td>
              <td th:text="${deduction.dBasicWage}">男</td>
              <td th:text="${deduction.dBonus}">教授</td>
              <td th:text="${deduction.dFine}">610602199708084415</td>
              <td th:text="${deduction.dTax}">25111502432511150243</td>
              <td th:text="${deduction.dRealWage}">25111502432511150243</td>
              <td th:text="${deduction.dState==0}?'未确认':'已确认'">11</td>
              <td>
                <a th:href="@{/deduction/updatePage(id=${deduction.id})}"><input type="button" value="修改" class="btn btn-warning"/></a>
                <a th:href="@{/deduction/delete(id=${deduction.id})}"><input type="button" value="删除"onclick="javascript:return del()" class="btn btn-danger"/></a>
                <a th:href="@{/deduction/updateState(id=${deduction.id}, dState=${deduction.dState == 0}?'1':'0')}"><input type="button" th:value="${deduction.dState == 0}?'确认':'取消确认'" class="btn btn-info"/></a>
              </td>
            </tr>
          </tbody>

          <!--分页-->
          <tfoot>
            <tr> 
              <td colspan="8">
                <ul class="pagination">
                  <li><a th:href="@{/deduction/list(page=1,size=10)}">首页</a></li>

                  <li>
                    <a th:if="${not pageInfo.isFirstPage}" th:href="@{/deduction/list(page=${pageInfo.pageNum - 1 },size=10)}">&laquo;</a>
                    <a th:if="${pageInfo.isFirstPage}" href="javascript:void(0);">&laquo;</a>
                  </li>

                  <li th:each="pageNo : ${#numbers.sequence(1, pageInfo.pages)}" class="page-item" data-th-classappend="${pageInfo.pageNum eq pageNo} ? 'active' : ''" >
                    <a th:if="${pageInfo.pageNum eq pageNo}" href="javascript:void(0);">
                      <span th:text="${pageNo}"></span>
                    </a>

                    <a th:if="${not (pageInfo.pageNum eq pageNo)}"th:href="@{/deduction/list(page=${pageNo},size=10)}">
                      <span th:text="${pageNo}"></span>
                    </a>
                  </li>

                  <li>
                    <a th:if="${not pageInfo.isLastPage}" th:href="@{/deduction/list(page=${pageInfo.pageNum + 1 },size=10)}">&raquo;</a>
                    <a th:if="${pageInfo.isLastPage}" href="javascript:void(0);">&raquo;</a>
                  </li>

                  <li><a th:href="@{/deduction/list(page=${pageInfo.pages },size=10)}">尾页</a></li>
                </ul>
              </td> 
            </tr> 
          </tfoot>

        </table> 
      </div>
    </div>
    <script type="text/javascript" src="../static/bootstrap/js/jquery.min.js" th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" >
        //删除确认框
        function del() {
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg)==true){
                return true;
            }else{
                return false;
            }
        }
    </script>
  </body>
</html>