<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wage.dao.DeductionMapper">
  <resultMap id="BaseResultMap" type="com.wage.model.Deduction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="d_title" jdbcType="VARCHAR" property="dTitle" />
    <result column="d_basic_wage" jdbcType="INTEGER" property="dBasicWage" />
    <result column="d_bonus" jdbcType="INTEGER" property="dBonus" />
    <result column="d_fine" jdbcType="INTEGER" property="dFine" />
    <result column="d_tax" jdbcType="INTEGER" property="dTax" />
    <result column="d_real_wage" jdbcType="INTEGER" property="dRealWage" />
    <result column="d_state" jdbcType="INTEGER" property="dState" />
    <result column="e_id" jdbcType="INTEGER" property="eId" />
  </resultMap>

  <select id="selectTitles" resultMap="BaseResultMap">
    SELECT DISTINCT d_title FROM deduction
  </select>


  <select id="selectListByTitleAndState" resultMap="BaseResultMap">
    SELECT * FROM deduction WHERE d_state = 1 AND d_title=#{title}
  </select>

  <select id="selectTitlesByState" resultMap="BaseResultMap">
    SELECT DISTINCT d_title FROM deduction WHERE d_state = 1
  </select>
</mapper>